@import url('https://fonts.googleapis.com/css?family=Lato:300, 400,700');
@import 'partials/colors';
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-family: 'Lato';
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

button,
input {
  outline: 0;
  border: 0;
}

button {
  background: transparent;
  cursor: pointer;
}

input::placeholder {
  color: #000;
}

.color-input::placeholder {
  color: $brand;
}
