.bar {
    padding: 27px 40px 0 40px;
    height: 152px;
    background-color: #F5F3EE;
}

.bar-checkout{
	color: #000000;
	font-family: "Bebas Neue";
	font-size: 20px;
	letter-spacing: 0.91px;
	line-height: 24px;
}

.bar-steps{
    margin: 30px 0 0 20px;
	height: 35px;
	width: 100%;
}

.step{
    width: 30%;
	display: inline-block;
}

.summary-step{
    width: 10%;
	display: inline-block;
}

.circle:before{
    content: ' \25CF';
    font-size: 20px;
	color: #D4D3D1;
}

.circle-contact-personalize:before,
.circle-contact-payment:before,
.circle-personalize-payment:before,
.circle-contact-summary:before,
.circle-payment-summary:before,
.circle-personalize-summary:before{
	color: #848895;
}

.summary-circle:before{
    content: ' \25CF';
    font-size: 20px;
	color: #D4D3D1;
	display: block;
}

.hr-step{
	height: 2px;
	width: 90%;
	display: inline-block;
	margin: 0 0 0 5px;
	vertical-align: middle;
    background-color: #D4D3D1;
}

.hr-step-contact-personalize,
.hr-step-contact-payment,
.hr-step-personalize-payment,
.hr-step-contact-summary,
.hr-step-payment-summary,
.hr-step-personalize-summary{
     background-color: #848895;
}

.text-step {
	color: #5A6175;
	font-family: Avenir;
	font-size: 12px;
	font-weight: 500;
	line-height: 16px;
	text-align: center;
    margin-left: -18px;
}