.card {
    max-width: 310px;
    min-height: 470px;
    background: #fff;
    box-shadow: 0 20px 50px rgba(0, 0, 0, .1);
    border-radius: 0px;
    transition: 0.5s;
}

.card:hover {
    box-shadow: 0 30px 70px rgba(0, 0, 0, .2);
}

.card .box {
    position: absolute;
    left: 0;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
}

.card .box .img {
    max-width: 270px;
    max-height: 350px;
    margin: 0 auto;
    overflow: hidden;
}

.card .box .img img {
    width: 100%;
    height: 100%;
}

.card .box h2 {
    font-size: 20px;
    color: #262626;
    margin: 20px auto;
}

.card .box h2 span {
    font-size: 14px;
    background: #e91e63;
    color: #fff;
    display: inline-block;
    padding: 4px 10px;
    border-radius: 15px;
}

.card .box span {
    display: inline-flex;
    font-family: "Teko";
    font-size: 20px;
    color: #5A6175;  
}

.font-product {
    display: inline-flex;
    font-family: "Teko";
    font-size: 20px;
    color: #5A6175;
    margin-top: 10px;
    margin-left: 10px;
}

.card .box ul {
    margin: 0;
    padding: 0;
}

.card .box ul li {
    list-style: none;
    float: left;
}

.card .box ul li a {
    display: block;
    color: #aaa;
    margin: 0 10px;
    font-size: 12px;
    transition: 0.5s;
    text-align: center;
}

.card .box ul li:hover a {
    color: #e91e63;
    transform: rotateY(360deg);
}
.card-header {
    margin-bottom: 20px;
    background-color: white;
    border-bottom: none;
}
.card-footer{
    position:absolute;
    bottom:0;
    width:100%;
    background-color: #FC6E5B;
    color: #fff;
}
.card-footer a {
    color: white;
}
.card-deck {
    margin-top: 20px;
    font-family: "Teko";
	font-size: 16px;
	line-height: 19px;
}

.card-deck .card{
    padding-bottom:50px;
}

.hampton-sun {
    opacity: 0.4;
    color: #000000;
    font-family: Avenir;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
}
.price {
    opacity: 0.4;
    color: #000000;
    font-family: Avenir;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
}
.add-to-wishlist {
    color: #FC6E5B;
    font-family: "Teko";
    font-size: 16px;
    line-height: 18px;
}
.product-description {
    color: #A8AFB6;
    font-family: Avenir;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding-left: 20px;
}
.checkout-panel {
	height: 650px;
    width: 60%;
	background-color: #FFFFFF;
	box-shadow: 0 -2px 11px 0 rgba(0,0,0,0.04);
    margin: 50px 0 0 20%;
}

.checkout-panel-form{
   width: 80%;
   margin: 20px 0 0 40px;
   height: 300px;
}

.checkout-panel-label{
	color: #5A6175;
	font-family: Avenir;
	font-size: 15px;
    line-height: 20px;
    padding-right: 0px;
}

.checkout-footer{
    text-align: right;
    margin-right: 50px;
}

.checkout-payment-label {
	color: #5A6175;
	font-family: Teko;
	font-size: 15px;
    line-height: 20px;
    padding-right: 0px;
}
.checkout-payment-label-total {
	color: #5A6175;
	font-family: Teko;
	font-size: 20px;
    line-height: 20px;
    padding-right: 0px;
}
.btn-checkout-next {
	height: 48px;
	width: 160px;
	background-color: #FC6E5B;
	font-family: "Bebas Neue";
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
}

.btn-checkout-back {
	height: 48px;
	width: 160px;
	background-color: #F9F9F9;
	font-family: "Bebas Neue";
	font-size: 16px;
	line-height: 19px;
	color: #5A6175;
}

.content-thank-you{
    text-align: center;
    padding: 40px;
}

.lbl-thank-you{
	color: #000000;
	font-family: "Bebas Neue";
	font-size: 40px;
	letter-spacing: 1.82px;
	line-height: 48px;
}

.lbl-gift-sent{
	color: #5A6175;
	font-family: "Bebas Neue";
	font-size: 24px;
	line-height: 34px;
}

.lbl-gift-sent-to {
	color: #5A6175;
	font-family: "Bebas Neue";
	font-size: 18px;
	line-height: 34px;
}

.lbl-contact-name{
	color: #5A6175;
	font-family: Avenir;
	font-size: 15px;
	line-height: 20px;
    margin-bottom: 60px;
}

.btn-checkout-thank-you{
	height: 50px;
	width: 370px;
	background-color: #FC6E5B;
	font-family: "Bebas Neue";
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 1.33px;
}

.img-user-avatar{
    padding: 5px;
    width: 55px;
    margin-top: 25px;
}

.checkout-back-store{
	color: #5A6175;
	font-family: "Bebas Neue";
	font-size: 16px;
	line-height: 19px;
    position: absolute;
    margin-left: 8%;
    cursor: pointer;
}

.img-summary-product{
    padding: 5px;
    width: 85px;
    margin:10px;
}
.input-text-undeline {
    padding: 10px 10px 10px 5px;
    display: block;
    border: none;
    border-bottom: 1px solid #757575;
}
.vert-center {
    display: inline-block;
    vertical-align: middle;
    float: none;
    margin-top: 30px;
    margin-left: 5px;
}
.center-col {
    margin: 0 auto;
}