.btn-default {
    border-color: #FF5A5A; background-color: #FFFFFF; color:red; 
    border-radius: 0px; margin-top: 0.3em; margin-bottom: 0.3em;
}

.btn-default:hover {
    border-color: #FF5A5A; background-color: #FFFFFF; border-radius: 0px;
}
.btn-primary {
    border-color: #4E70C4; background-color: #4E70C4; color:#FFF; 
    border-radius: 0px; margin-top: 0.3em; margin-bottom: 0;
}

.btn-primary:hover {
    border-color: #4E70C4; background-color: #4E70C4; border-radius: 0px;
}
.btn-danger {
    border-color: #FF5A5A; background-color: #FF5A5A; color:#FFF; 
    border-radius: 0px;  margin-top: 0.3em; margin-bottom: 0.3em;
}

.btn-danger:hover {
    border-color: #FF5A5A; background-color: #FF5A5A; border-radius: 0px;
}

.btn-warning {
    border-color: #FC6E5B; background-color: #FC6E5B; color:#FFF; 
    border-radius: 0px; margin-top: 0.3em; margin-bottom: 0.3em;
}

.btn-warning:hover {
    border-color: #FC6E5B; background-color: #FC6E5B; border-radius: 0px;
}

.btn-info {
    border-color: #FFFFFF; background-color: #FFFFFF; color:#000; 
    border-radius: 0px; margin-top: 0.3em; margin-bottom: 0.3em;
}
.btn-primary-outline {
    background-color: transparent;
    border-color: transparent;
  }
.arrow {
    color: #93a3b5;
    position: relative;
    left: -60px;
}
.arrow-forgot {
    color: #93a3b5;
    position: relative;
    left: -95px;
}