.header-bar {
    height: 76px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.04);
}

.brand {
    color: #fc6e5b !important;
    font-size: 1em;
    font-weight: bold;
}

.nav-item {
    margin: 0 0 0 15px;
}

.nav-link {
    color: #5a6175 !important;
    font-family: 'Bebas Neue';
    font-size: 16px;
    line-height: 19px;
}

.nav-link:hover {
    color: #fc6e5b !important;
}

.nav-user-info {
    margin: 0 50px 0 50px;
}

.nav-username {
    color: #5a6175;
    font-family: 'Bebas Neue';
    font-size: 16px;
    line-height: 19px;
}

.nav-user-avatar {
    padding: 5px;
    margin-right: 10px;
    width: 44px;
}

.MuiDrawer-paper-15 {
    top: 76;
}