.header-bar {
    height: 76px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.04);
}

.brand {
    color: #fc6e5b !important;
    font-size: 1em;
    font-weight: bold;
}

.nav-item {
    margin: 0 0 0 15px;
}

.nav-link {
    color: #5a6175 !important;
    font-family: 'Bebas Neue';
    font-size: 16px;
    line-height: 19px;
}

.nav-link:hover {
    color: #fc6e5b !important;
}

.nav-user-info {
    margin: 0 50px 0 50px;
}

.nav-username {
    color: #5a6175;
    font-family: 'Bebas Neue';
    font-size: 16px;
    line-height: 19px;
}

.nav-user-avatar {
    padding: 5px;
    margin-right: 10px;
    width: 44px;
}

/* Menú Avatar */

.profile-usermenu {
    margin-top: 30px;
    padding: 20px 0 10px 0;
    background: #fff;
    font-family: 'Teko';
    font-size: 16.2px;
    letter-spacing: 1.16px;
    line-height: 19px;
    min-width: 100px;
}

.profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
    margin: 20px;
}

.profile-usermenu ul li a i {
    margin-right: 20px;
}

.profile-usermenu ul li:last-child {
    border-bottom: none;
}

.profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400;
}

.profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
}

.profile-usermenu ul li.active {
    border-bottom: none;
}

.profile-usermenu ul li.active a {
    color: #5b9bd1;background-color: #f6f9fb;
border-left: 2px solid #5b9bd1;
margin-left: -2px;
}