@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffffff !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('/fonts/BebasNeue Regular.otf'), url('/fonts/BebasNeue Bold.otf');
}

.jumbotron {
  background-color: #f9f8fc;
  background-size: cover;
  max-height: 170px;
  padding-top: 20px;
}

.worldwide-gifting-ma {
  height: 39px;
  width: 604px;
  color: #fc6e5b;
  font-family: 'Lato';
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 3.65px;
  line-height: 40px;
  text-align: center;
}

.rectangle-9 {
  height: 58px;
  width: 215px;
  background-color: #fc6e5b;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12);
}

.sign-up-and-start-gy {
  height: 20px;
  width: 228px;
  color: #9f9f9f;
  font-family: 'Lato';
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.forgot-pass-gy {
  height: 26px;
  width: 228px;
  color: #9f9f9f;
  font-family: 'Lato';
  font-size: 12px;
  font-weight: 500;
  line-height: 27px;
}

.by-clicking-sign-up {
  height: 45px;
  width: 312px;
  color: #9f9f9f;
  font-family: 'Lato';
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  text-align: center;
}

.sign-up-with-email {
  height: 19px;
  width: 94px;
  color: #fc6e5b;
  font-family: 'Teko';
  font-size: 16px;
  line-height: 19px;
}

.rectangle-5 {
  height: 47.62px;
  width: 370px;
  border: 1px solid #fc6e5b;
  margin-top: 7px;
}

.rectangle-signup {
  height: 47.62px;
  width: 370px;
}

.rectangle-fb {
  height: 47.62px;
  width: 370px;
  background-color: #4e70c4;
  margin-top: 7px;
}

.sign-up-with-faceboo {
  height: 19px;
  width: 129px;
  color: #ffffff;
  font-family: 'Teko';
  font-size: 16px;
  line-height: 19px;
}

.rectangle-go {
  height: 47.62px;
  width: 370px;
  background-color: #ff5a5a;
  margin-top: 7px;
  margin-bottom: 7px;
}

.sign-up-with-google {
  height: 19px;
  width: 108px;
  color: #ffffff;
  font-family: 'Teko';
  font-size: 16px;
  line-height: 19px;
}

.or {
  height: 29px;
  width: 19px;
  color: #9f9f9f;
  font-family: 'Teko';
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  overflow: hidden;
}

.or:before,
.or:after {
  background-color: #cfcfcf;
  content: '';
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
  max-width: 162px;
}

.or:before {
  right: 0.5em;
  margin-left: -50%;
}

.or:after {
  left: 0.5em;
  margin-right: -50%;
}

.rectangle-login {
  height: 47.62px;
  width: 370px;
  border: 1px solid #ff6253;
  background-color: #fc6e5b;
  margin-top: 7px;
  margin-bottom: 7px;
}

.log-in {
  height: 19px;
  width: 94px;
  color: #ffffff;
  font-family: 'Teko';
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.for-android {
  height: 19px;
  width: 77px;
  color: #ffffff;
  font-family: 'Teko';
  font-size: 16.2px;
  font-weight: bold;
  letter-spacing: 1.16px;
  line-height: 19px;
}

.for-iphone {
  height: 19px;
  width: 69px;
  color: #ffffff;
  font-family: 'Teko';
  font-size: 16.2px;
  font-weight: bold;
  letter-spacing: 1.16px;
  line-height: 19px;
}

.vcenter {
  margin-top: 100px;
}

.v-center {
  vertical-align: -webkit-baseline-middle;
}

.rectangle-forgot {
  height: 30px;
  width: 370px;
  text-align: right;
  display: block;
  margin: auto;
}

a {
  color: #9f9f9f;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  padding: 0;
}
