.radio-custom {
    opacity: 0;
    position: absolute;
}

.radio-custom, .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

.radio-custom-label {
    position: relative;
}

.radio-custom + .radio-custom-label:before {
    content: '';
    background: #fff;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}

.radio-custom + .radio-custom-label:before {
    border-radius: 50%;
}

.radio-custom:checked + .radio-custom-label:before {
  border: 2px solid green;
  background-color: green;
  font: 13px/1 'Open Sans', sans-serif;
  content: '\02143';
  transform: rotate(40deg);
    /* content: "\f00c";
    font-family: 'FontAwesome'; */
    color: #bbb;
}

/* .radio-custom:focus + .radio-custom-label {
  outline: 1px solid #ddd;
} */