@import 'partials/colors';
#landing {
  background-color: #fff; //   max-width: 1169px;
  margin: 0 auto;
  background-image: url('../assets/landing/background.png');
  background-repeat: repeat-y;
  background-position: center;
  background-size: contain;
  min-height: 100vh;
  transition: all 2s linear;
  .container-fluid {
    padding: 0;
  }
}

.row {
  margin: 0 !important;
}

.landing-content {
  margin: 0 auto;
  max-width: 840px;
  padding: 0; //   position: absolute;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  /* height: 591px; */
  display: inline-table;
  right: 0;
}

.logo {
  width: 93px;
}

h1 {
  color: $brand;
  font-family: "Lato";
  font-weight: normal;
  font-size: 30px;
  margin-bottom: 32px;
}

.login-wrap {
  background-color: #f9f8fc;
  padding: 54px 0 0 0;
  margin-bottom: 26px;
  width: 840px;
  -webkit-transition: all 2s;
  transition: all 2s;
  #login-flow {
    // margin-top: -70px;
    padding: 0;
  }
  .dotted-map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    width: 100%;
  }
  h2 {
    text-align: center;
    color: $brand;
    font-family: "Lato";
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 80px;
  }
  h3 {
    text-align: center;
    color: #9f9f9f;
    font-family: "Lato";
    font-weight: normal;
    font-size: 18px;
    margin-top: -12px;
    margin-bottom: 34px;
    vertical-align: sub;
    line-height: 40px;
  }
  button {
    height: 48px;
    margin-bottom: 7px;
    img {
      vertical-align: middle;
    }
  }
  input {
    display: block;
    width: 100%;
    height: 48px;
    background: transparent;
    border: solid 1px $brand;
    color: $brand;
    font-size: 16px;
    text-align: left;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 7px;
  }
  .link {
    color: #9f9f9f;
    font-size: 12px;
    font-weight: 600;
    height: auto;
    background: transparent;
    position: absolute;
    right: 0;
  }
  p {
    margin-top: 16px;
    margin-bottom: 30px;
    font-size: 12px;
    font-family: "Lato";
    color: #9f9f9f;
    text-align: center;
    padding-left: 28px;
    padding-right: 28px;
  }
}

.divider {
  position: relative;
  h4 {
    overflow: hidden;
    text-align: center;
    color: #95989a;
    font-weight: normal;
    line-height: 50px;
    width: 100%;
    &:before,
    &:after {
      background-color: #95989a;
      content: '';
      display: inline-block;
      height: 1px;
      position: relative;
      vertical-align: middle;
      width: 50%;
    }
    &:before {
      right: 0.5em;
      margin-left: -50%;
    }
    &:after {
      left: 0.5em;
      margin-right: -50%;
    }
  }
}

.download {
  text-align: center;
  width: 100%;
  margin-bottom: 40px;
  a {
    color: $white;
    display: inline-block;
    background-color: $brand;
    line-height: 58px;
    font-family: '"Lato"';
    font-size: 16px;
    width: 215px;
    &:first-child {
      margin-right: 6px;
    }
    img {
      width: 18px;
      vertical-align: sub;
      margin-right: 10px;
    }
  }
}

.download-btn {
  display: inline-block;
}

footer {
  background-color: #f9f8fc;
  position: absolute;
  a {
    margin-right: 25px;
    font-family: '"Lato"';
    color: #9f9f9f;
    font-size: 12px;
    line-height: 31px;
    font-weight: normal;
    &:last-child {
      margin-right: 0;
    }
  }
}

@media screen and (max-height: 830px) {
  .logo {
    margin-top: 40px;
  }
  .landing-content {
    overflow: hidden;
  }
  .landing-content,
  footer {
    position: relative;
    display: block;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .login-wrap {
    width: 100%;
    h2 {
      font-size: 18px;
    }
  }
  .dotted-map {
    width: 100%;
    padding: 0 20px 0 20px;
  }
}

@media screen and (max-width: 767px) {
  .login-wrap {
    padding-top: 32px;
    width: 100%;
    margin-bottom: 40px;
    h2 {
      margin-bottom: 40px;
      font-size: 16px;
    }
  }
  .logo {
    margin-top: 40px;
  }
  .login-wrap #login-flow {
    padding-left: 24px;
    padding-right: 24px;
  }
  .dotted-map {
    width: 100%;
    padding: 0 20px 0 20px;
  }
  .download a:first-child {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .landing-content,
  footer {
    position: relative;
    display: block;
  }
  .download-btn {
    display: block;
  }
}
